{#<!-- 新 Bootstrap4 核心 CSS 文件 -->#}
{% extends "home.html" %}
{% block content %}
    <!-- 登录表单 -->
    <form style="margin-left:200px;margin-top:100px;width:300px; float:left" action="/trade" method="post" id="trade">
        <div class="form-group" >
            <label for="power" style="display:inline;">交易电量：</label>
            <input type="text" class="form-control" id="power" style="display:inline;width:200px;" name="power" autocomplete="off"/>
        </div>
          <div class="form-group">
            <label for="power" style="display:inline;">交易角色：</label>
            <select id = 'character' name = 'character' class="form-control" style="display:inline;width:200px;  border-radius: 5%">
              <option value="0">购电方</option>
              <option value="1">售电方</option>
           </select>
        </div>
          <div class="form-group">
            <label for="type" style="display:inline;">交易类型：</label>
            <select id = 'type' name = 'type' class="form-control" style="display:inline;width:200px;  border-radius: 5%">
              <option value="0">电力库交易模式</option>
              <option value="1">双边协商交易模式</option>
           </select>
        </div>
        <div class="form-group">
            <label for="cash" style="display:inline;">交易金额：</label>
            <input type="text" class="form-control" id="cash" style="display:inline;width:200px;"autocomplete="off"  name="cash"/>
        </div>
           <div class="form-group">
            <label for="address" style="display:inline;">目标地址：</label>
            <input type="text" class="form-control" id="address" style="display:inline;width:200px;"autocomplete="off" name="address"/>
        </div>
        <input type="submit"  class="btn btn-primary">
    </form>
    <!-- 登录表单 -->
    <form style="margin-left:700px;padding-top:100px;width:400px" action="/register" id="register" method="post" >
        <div class="form-group">
            <label for="phone" stype="display:inline;">手机电话：</label>
            <input type="text" name="phone" class="form-control" id="phone" style="display:inline;width:200px;"autocomplete="off" />
        </div>
         <div class="form-group">
            <label for="name" stype="display:inline;">姓名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="text" name="name" class="form-control" id="name" style="display:inline;width:200px;"autocomplete="off" />
        </div>
        <div class="form-group">
            <label for="IDCARD" stype="display:inline;">身份证：&nbsp&nbsp&nbsp</label>
            <input type="text" name="IDCARD" class="form-control" id="IDCARD" style="display:inline;width:200px;"autocomplete="off" />
        </div>
            <input type="submit"  class="btn btn-primary"  value="注册" style="margin-left: 3%;">
    </form>
{% endblock %}