{% extends "home.html" %}
{% block content %}
    <!-- 登录表单 -->
    <form style="margin-left:500px;margin-top:100px;" action="/verified" method="post" id="trade">
        <div class="form-group" >
            <label for="id" style="display:inline;">企业ID：&nbsp&nbsp&nbsp&nbsp </label>
            <input type="text" class="form-control" id="id" style="display:inline;width:200px;" name="id" autocomplete="off"/>
        </div>
          <div class="form-group">
            <label for="position" style="display:inline;">地理位置：</label>
            <select id = 'position' name = 'position' class="form-control" style="display:inline;width:200px;  border-radius: 5%">
              <option value="0">张家口</option>
              <option value="1">石家庄</option>
           </select>
        </div>
        <div class="form-group">
            <label for="power" style="display:inline;">能源类型：</label>
             <select id = 'power' name = 'power' class="form-control" style="display:inline;width:200px;  border-radius: 5%">
              <option value="0">风能</option>
              <option value="1">光能</option>
              <option value="2">水能</option>
              <option value="3">燃气</option>
           </select>
        </div>
           <div class="form-group">
            <label for="limit" style="display:inline;">发电额度：</label>
            <input type="text" class="form-control" id="limit" style="display:inline;width:200px;"autocomplete="off" name="limit"/>
        </div>
        <div class="form-group">
            <label for="phone" style="display:inline;">手机电话：</label>
            <input type="text" class="form-control" id="phone" style="display:inline;width:200px;"autocomplete="off" name="phone"/>
        </div>
        <input type="submit" value="注册" class="btn btn-primary">
    </form>
{% endblock %}